.list {
    display: grid;
    grid-template-columns: 2fr;
}

.parrafoFechas {
    width: 30%;
    margin: 0 auto;
    text-align: center;
}

.fechas {
    margin-top: 15px;
    background-color: aqua;
}

.habitaciones {
    width: 30%;
    margin: 0 auto;
}