.App-header {
    background-color: #282c34;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 26px;
    color: white;
  }
  
  .LogoDiv {
    align-items: flex-start;
  }
  
  .Logo {
    margin-top: 2em;
    justify-content: flex-start;
  }